<ion-header>
  <ion-toolbar>
 
    <ion-button size="small" color="dark" routerLink="/" >Voltar</ion-button>
  </ion-toolbar>
</ion-header>


   
    
<ion-content color="medium">
  <ion-card color="dark" >
  <div class="titulo ion-text-center">
    <h3>Frozen II</h3> 
    
  </div>
  <ion-card-header>

    <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/2niqBT3WmbsR8fy07URik6fFJIf.jpg">
   
  </ion-card-header>
    <ion-item color="dark">

    <h1> Frozen II  <span>(2019)</span> </h1>

    <ion-label> 
      <h3> avaliação dos usurarios:</h3>
      <div slot="end" class="c100 p90 small green">
        <span>90%</span>
      <div class="slice">
        <div class="bar">           </div>
          <div class="fill">          </div>
      </div>
    </div>
    </ion-label>
    </ion-item>
  
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo"> TV-PG</span> <span class="duracao">1h44min</span>
        <p>Animação, familia, aventura</p>
      </div>
    </ion-item>

      <ion-item color="dark">
        <div>
            <h2>Sinopse</h2>
            <p>De volta à infância de Elsa e Anna, as duas garotas descobrem uma história do pai, quando ainda era príncipe de Arendelle. Ele conta às meninas a história de uma visita à floresta dos elementos, onde um acontecimento inesperado teria provocado a separação dos habitantes da cidade com os quatro elementos fundamentais: ar, fogo, terra e água. Esta revelação ajudará Elsa a compreender a origem de seus poderes. </p>
        </div>
    </ion-item>

  </ion-card>


</ion-content>
