<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
   Serie
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card color="dark" >
    <div class="titulo ion-text-center">
    <h3>Séries</h3>
    
    </div>
    <ion-card-header>

      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg" routerLink="/flash">
     
    </ion-card-header>

      <ion-item color="dark">
      <h1> Flash <span>(2014)</span></h1>
      </ion-item>
      
      <ion-item color="medium">
        <div class="info ion-text-center">
          <span class="tipo"> TV-PG</span> <span class="duracao">44m</span>
          <p>Drama, Scri-Fi & Fantasy</p>
        </div>
        
      </ion-item>
      
      <ion-item color="dark">
        <div>
            <h2>Sinopse</h2>
            <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>

        </div>
      </ion-item>
  </ion-card>



  <ion-card color="dark">

    <ion-card-header>

      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/5zS9trn5k6T6Oew85ZIEKUfRo91.jpg" routerLink="/simpsons">
     
    </ion-card-header>
      <ion-item color="dark">
<h1> Simpsons <span>(1989)</span></h1>
      </ion-item>
      
      <ion-item color="medium">
        <div class="info ion-text-center">
          <span class="tipo"> TV-PG</span> <span class="duracao">22m</span>
          <p>Animação, comedia </p>
        </div>
        
      </ion-item>
      
      <ion-item color="dark">
        <div>
            <h2> Sinopse</h2>
            <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. Homer trabalha como inspetor de segurança numa usina de energia nuclear. Marge tenta manter a paz em sua família. Bart é um travesso garoto de 10 anos. Lisa, 8, é a inteligente da família, que adora tocar saxofone e é vegetariana. E a pequena Maggie conquista todos enquanto não larga sua chupeta. E a série tem um rico, e muitas vezes estranho, universo de personagens que também habitam Springfield. Com roteiros inteligentes, humor subversivo e divertidamente genial, a série faz piadas de si mesma e de todo mundo que aparecer em seu caminho.</p>

        </div>
      </ion-item>


  </ion-card>
 
</ion-content>
