<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>

  <ion-item lines="full"  >
  <ion-thumbnail slot="start">
    <img src="assets/ursinho.jpg" routerLink="/ursinho">
  </ion-thumbnail>
  
    <ion-label >
     Ursinhos carinhosos
    </ion-label>
    <div slot="end" class="c100 p90 small green">
        <span>90%</span>
      <div class="slice">
        <div class="bar">           </div>
          <div class="fill">          </div>
      </div>
    </div>
  </ion-item>


  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img src="assets/bob.jpg" routerLink="/bobesponja">
    </ion-thumbnail>
    
      <ion-label>
     Bob Esponja
      </ion-label>
      <div slot="end" class="c100 p80 small orange">
          <span>80%</span>
        <div class="slice">
          <div class="bar">           </div>
            <div class="fill">          </div>
        </div>
      </div>
    </ion-item>


    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="assets/gelo.jpg">
      </ion-thumbnail>
      
        <ion-label>
       Aventura no geo
        </ion-label>
        <div slot="end" class="c100 p20 small">
            <span>20%</span>
          <div class="slice">
            <div class="bar">           </div>
              <div class="fill">          </div>
          </div>
        </div>
      </ion-item>


 </ion-list>

</ion-content>
