<ion-header>
  <ion-toolbar>
 
    <ion-button size="small" color="dark" routerLink="/" >Voltar</ion-button>
  </ion-toolbar>
</ion-header>


   
    
<ion-content color="medium">
  <ion-card color="dark" >
  <div class="titulo ion-text-center">
    <h3>Ad Astra</h3> 
    
  </div>
  <ion-card-header>

    <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/cs6z1byqL0ffw1948FJI2Jr1HVT.jpg">
   
  </ion-card-header>
    <ion-item color="dark">

    <h1> Ad Astra  <span>(2019)</span> </h1>

    <ion-label> 
      <h3> avaliação dos usurarios:</h3>
      <div slot="end" class="c100 p90 small green">
        <span>90%</span>
      <div class="slice">
        <div class="bar">           </div>
          <div class="fill">          </div>
      </div>
    </div>
    </ion-label>
    </ion-item>
  
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo"> TV-PG</span> <span class="duracao">2h3min</span>
        <p>Drama,ficcao cientifica</p>
      </div>
    </ion-item>

      <ion-item color="dark">
        <div>
            <h2>Sinopse</h2>
            <p>Roy McBride é um engenheiro espacial, portador de um leve grau de autismo, que decide empreender a maior jornada de sua vida: viajar para o espaço, cruzar a galáxia e tentar descobrir o que aconteceu com seu pai, um astronauta que se perdeu há vinte anos atrás no caminho para Netuno.</p>
        </div>
    </ion-item>

  </ion-card>


</ion-content>
