




.titulo {
    h3 {

        color: rgb(170, 46, 46);
      font-size: 70px;
       margin-top: 10px;
       border: initial;
    }
    }
    
    h1 {
        font-weight: bolder;
        color: rgb(170, 46, 46);
        margin-top: 10px;
        height: 20px;
        width: 100%;
        position: relative;
        padding: 15px;
        span {
            font-size: 14px;
        }
h2 {
    position: relative;
        padding: 15px;
}
        h3 { 
             margin-top: 10px;
        height: 20px;
        width: 100%;
        position: relative;
        padding: 15px;

        }
    }
        .info {
            width: 100%;
            margin:  10px;
            padding:0 ;
    
            .tipo{
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 5px;
                font-size: 12px;
                font-weight: lighter;
            
        }
        .duracao {
            margin-left: 15px;
        }
        p {
            padding: 0;
            margin: 0;
            margin-top: 10px;
        }
       
    }