<ion-header>
  <ion-toolbar>
 
    <ion-button size="small" color="danger" routerLink="/tabs2" >Voltar</ion-button>
  </ion-toolbar>
</ion-header>


   
    
<ion-content color="medium">
  <ion-card color="dark" >
  <div class="titulo ion-text-center">
    <h3>Flash</h3> 
    
  </div>
  <ion-card-header>

    <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/4KUg5OtElC528To0LBc8gBtv5oq.jpg">
   
  </ion-card-header>
    <ion-item color="dark">

    <h1> Flash  <span>(2014)</span> </h1>

    <ion-label> 
      <h2> avaliação dos usurarios:</h2>
      <div slot="end" class="c100 p73 small green">
        <span>73%</span>
      <div class="slice">
        <div class="bar">           </div>
          <div class="fill">          </div>
      </div>
    </div>
    </ion-label>
    </ion-item>
  
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo"> TV-PG</span> <span class="duracao">44min</span>
        <p>drama, sci-Fi, fantasia</p>
      </div>
    </ion-item>

      <ion-item color="dark">
        <div>
            <h2>Sinopse:</h2>
            <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
        </div>
    </ion-item>

    <ion-item color="dark">
      <div>
          <h2>Criação:</h2>
          <p>Greg Berlanti &nbsp;&nbsp; Geoff Johns  &nbsp;&nbsp; Andrew Kreisberg

          </p>
      </div>
  </ion-item>

  </ion-card>


</ion-content>
