<ion-header>
  <ion-toolbar>
 
    <ion-button size="small" color="dark" routerLink="/tabs3" >Voltar</ion-button>
  </ion-toolbar>
</ion-header>


   
    
<ion-content color="medium" >
  <ion-card color="dark" >
  <div class="titulo ion-text-center" >
    <h3>Bob Esponja</h3> 
    
  </div>
  <ion-card-header>

    <img src="https://www.correiodopovo.com.br/image/policy:1.401316:1582493618/.jpg?f=default&$p$f=53ee086">
   
  </ion-card-header>
    <ion-item color="dark">

    <h1> Bob Esponja  <span>(1999)</span> </h1>

    <ion-label> 
      <h2> avaliação dos usurarios:</h2>
      <div slot="end" class="c100 p73 small green">
        <span>73%</span>
      <div class="slice">
        <div class="bar">           </div>
          <div class="fill">          </div>
      </div>
    </div>
    </ion-label>
    </ion-item>
  
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo"> TV-PG</span> <span class="duracao">20min</span>
        <p>animação, fantasia</p>
      </div>
    </ion-item>

      <ion-item color="dark">
        <div>
            <h2>Sinopse:</h2>
            <p>Uma esponja-do-mar chamada Bob Esponja Calça Quadrada mora com seu caracol de estimação na Fenda do Biquíni, no fundo do oceano. Bob trabalha no Siri Cascudo e, nas horas vagas, vive arrumando confusões com seu melhor amigo, a estrela-do-mar Patrick.</p>
        </div>
    </ion-item>

    <ion-item color="dark">
      <div>
          <h2>Criação:</h2>
          <p>Stephen Hillenburg

          </p>
      </div>
  </ion-item>

  </ion-card>


</ion-content>
