<ion-header>
  <ion-toolbar>
 
    <ion-button size="small" color="warning " routerLink="/tabs2" >Voltar</ion-button>
  </ion-toolbar>
</ion-header>


   
    
<ion-content color="medium">
  <ion-card color="dark" >
  <div class="titulo ion-text-center">
    <h3>Simpsons</h3> 
    
  </div>
  <ion-card-header>

    <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/adZ9ldSlkGfLfsHNbh37ZThCcgU.jpg">
   
  </ion-card-header>
    <ion-item color="dark">

    <h1>Simpsons  <span>(1989)</span> </h1>

    <ion-label> 
      <h2> avaliação dos usurarios:</h2>
      <div slot="end" class="c100 p75 small green">
        <span>75%</span>
      <div class="slice">
        <div class="bar">           </div>
          <div class="fill">          </div>
      </div>
    </div>
    </ion-label>
    </ion-item>
  
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo"> TV-PG</span> <span class="duracao">22min</span>
        <p>animação, comedia</p>
      </div>
    </ion-item>

      <ion-item color="dark">
        <div>
            <h2>Sinopse:</h2>
            <p>A família Simpsons mora na cidade de Springfield, uma cidade americana como qualquer outra. Homer trabalha como inspetor de segurança numa usina de energia nuclear. Marge tenta manter a paz em sua família. Bart é um travesso garoto de 10 anos. Lisa, 8, é a inteligente da família, que adora tocar saxofone e é vegetariana. E a pequena Maggie conquista todos enquanto não larga sua chupeta. E a série tem um rico, e muitas vezes estranho, universo de personagens que também habitam Springfield. Com roteiros inteligentes, humor subversivo e divertidamente genial, a série faz piadas de si mesma e de todo mundo que aparecer em seu caminho.</p>
        </div>
    </ion-item>

    <ion-item color="dark">
      <div>
          <h2>Criação:</h2>
          <p> Matt Groening </p>
      </div>
  </ion-item>

  </ion-card>


</ion-content>
